<div class="footer-section">
  <div class="footer-top-container">
    <div class="contact-container">
      <div class="contact-header">
        <h3>Contact Us</h3>
      </div>
      <div class="contact-description">
        <p class="tel"><span><i class="fas fa-phone-alt"></i></span>(321) 785-8505</p>
        <p class="address"><span><i class="fas fa-map-marker-alt"></i></span>4854 Rosemont Avenue Winter Haven, Florida
          33830</p>
        <p class="email"><span><i class="fas fa-envelope"></i></span>info@royalcovehotelandresort.com</p>
      </div>
      <div class="social-container">
        <div class="social-header">
          <h3>Social Media</h3>
        </div>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-youtube"></i></a>
          <a href=""><i class="fab fa-google"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
    <div class="links-container">
      <div class="links-header">
        <h3>Hotel Links</h3>
      </div>
      <div class="links">
          <p><a href="">Reservations</a></p>
          <p><a href="">Covid Information</a></p>
          <p><a href="">Gift Cards</a> </p>
          <p><a href="">About Royal Cove Hotel &amp; Resort</a></p>
          <p><a href="">FAQ</a></p>
          <p><a href="">Travel Agents</a></p>
      </div>
    </div>
    <!-- <div class="support-links-container">
      <div class="links-header">
        <h3>Support Links</h3>
      </div>
      <div class="support-links">
          <p><a href="">Press Releases</a></p>
          <p><a href="">Events Calendar</a></p>
          <p><a href="">Our Blog</a></p>
          <p><a href="">Customer Support</a></p>
          <p><a href="">Pets</a></p>
          <p><a href="">Careers</a></p>
      </div>
    </div> -->
  </div>
  <hr class="footer-divider">
  <div class="footer-bottom-container">
    <div class="copyright-container">
      <div class="copyright-header">
        <h3><span><i class="far fa-copyright"></i></span>Royal Cove Hotel &amp; Resort</h3>
      </div>
      <div class="copyright-description">
        <p class="copyright-paragraph">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        </p>
      </div>
      <div class="copyright-links">
        <ul>
          <li><a href="">Accessibility</a></li>
          <li><a href="">Sitemap</a></li>
          <li><a href="">Terms</a></li>
          <li><a href="">Privacy</a></li>
        </ul>
      </div>
    </div>
    <div class="newsletter-container">
      <div class="newsletter-header">
        <h3>Become a Platinum Guest</h3>
      </div>
      <div class="newsletter-description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        </p>
        <form class="newsletter-form">
          <input type="email" placeholder="Email Address">
          <div class="button-container">
            <button class="newsletter-button">Join Now</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
