<div class="shared-header">
  <h2><ng-content></ng-content></h2>
</div>
<div class="shared-subheader-container">
  <p class="shared-subheader">
    Malesuada fames ac turpis egestas sed tempus urna et pharetra pharetra massa massa ultricies mi quis
    hendrerit dolor magna eget est lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque
    habitant morbi tristique senectus et malesuada fames ac turpis egestas sed tempus urna et pharetra pharetra massa
    massa ultricies
    mi quis hendrerit dolor magna eget est lorem ipsum dolor sit amet consectetur adipiscing
    <a href="">
      View More.
    </a>
  </p>
</div>
