<div class="navtabs-container">
  <nav mat-tab-nav-bar mat-align-tabs="center">
    <a mat-tab-link  routerLink="/" routerLinkActive="active">
      Home
    </a>
    <a mat-tab-link routerLink="/" routerLinkActive="active">
      Accommodation
    </a>
    <a mat-tab-link routerLink="/" routerLinkActive="active">
      Dining
    </a>
    <a mat-tab-link routerLink="/" routerLinkActive="active">
      Wellness
    </a>
    <a mat-tab-link routerLink="/" routerLinkActive="active">
      Experiences
    </a>
    <a mat-tab-link routerLink="/" routerLinkActive="active">
      Offers
    </a>

    <!-- <a mat-tab-link  *ngFor="let link of links" (click)="activeLink=link"
      [active]="activeLink == link">
      {{link}}
    </a> -->

  </nav>

</div>



<!--
 <mat-tab-group mat-align-tabs="center">
   <mat-tab label="Home">
     <app-home></app-home>
   </mat-tab>
   <mat-tab label="Tab2"></mat-tab>
   <mat-tab label="Tab3"></mat-tab>
   <mat-tab label="Tab4"></mat-tab>
   <mat-tab label="Tab5"></mat-tab>
   <mat-tab label="Tab6"></mat-tab>
 </mat-tab-group> -->
