<div class="about-section">
  <div class="about-header">
    <h1>Welcome to Royal Cove Hotel & Resort</h1>
  </div>
  <div class="about-container">
    <p class="about-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Aliquet enim tortor at auctor urna nunc id cursus. Purus semper eget duis at tellus at. Nec sagittis
      aliquam malesuada bibendum. Massa massa ultricies mi quis hendrerit. Sollicitudin nibh sit amet commodo nulla
      facilisi. Feugiat in fermentum posuere urna nec tincidunt praesent. Risus commodo viverra maecenas accumsan lacus.
      Aliquam vestibulum morbi blandit cursus risus. Fames ac turpis egestas sed tempus urna. Arcu vitae elementum
      curabitur vitae nunc. Pretium fusce id velit ut tortor pretium viverra suspendisse.
    </p>
  </div>
  </div>
  <div class="amenities-section">
    <div class="amenities-header">
      <h2>Resort Amenities</h2>
    </div>
    <div class="amenities-subheader-container">
      <p class="amenities-subheader">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Aliquet enim tortor at auctor urna nunc id cursus. Purus semper eget duis at tellus at. Nec
        sagittis
        <a href="">
          View All Amenities.
        </a>
      </p>
    </div>

    <div class="amenities-container">
      <div class="amenities-image">
        <img src="/assets/images/pool128.png" alt="">
        <div>
          <p>Indoor and Outdoor Pools</p>
        </div>
      </div>
      <div class="amenities-image">
        <img src="/assets/images/massage.png" alt="">
        <div>
          <p>Relaxing Spas</p>
        </div>
      </div>
      <div class="amenities-image">
        <img src="/assets/images/dish.png" alt="">
        <div>
          <p>On-site 5 Star Restaurants</p>
        </div>
      </div>
      <div class="amenities-image">
        <img src="/assets/images/weights.png" alt="">
        <div>
          <p>24-hour Fitness Centers</p>
        </div>
      </div>
      <div class="amenities-image">
        <img src="/assets/images/toys.png" alt="">
        <div>
          <p>Childcare</p>
        </div>
      </div>
      <div class="amenities-image">
        <img src="/assets/images/wedding-bells.png" alt="">
        <div>
          <p>Wedding Venues</p>
        </div>
      </div>
    </div>
  </div>



<!-- <div class="amenities">
  <mat-grid-list cols="3" rowHeight="200px">
    <mat-grid-tile>
      <img src="/assets/images/pool128.png" alt="">
      <mat-grid-tile-footer [style.background]="'transparent'">
        <p>Indoor and Outdoor Pools</p>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="/assets/images/massage.png" alt="">
      <mat-grid-tile-footer [style.background]="'transparent'">
        <p>Relaxing Spas</p>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="/assets/images/dish.png" alt="">
      <mat-grid-tile-footer [style.background]="'transparent'">
        <p>On-site 5 Star Restaurants</p>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="/assets/images/weights.png" alt="">
      <mat-grid-tile-footer [style.background]="'transparent'">
        <p>24-hour Fitness Centers</p>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="/assets/images/tennis.png" alt="">
      <mat-grid-tile-footer [style.background]="'transparent'">
        <p>Tennis Courts</p>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile>
      <img class="image" src="/assets/images/wedding-bells.png" alt="">
      <mat-grid-tile-footer [style.background]="'transparent'">
        <p>Wedding Venues</p>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div> -->
