.about-header {
  text-align: center;
  line-height: 1.1;
  font-size: 25px;
  font-family: 'Playfair Display', serif;
}

.about-container {
  width: 60%;
  margin: auto;
}

.about-content {
  text-align: center;
  justify-content: center;
  font-family: 'Cardo', serif;
}

.about-content a {
  color: #000;
}

.about-content a:hover {
  color: #00bcd4;
}

.amenities-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.amenities-header {
  padding-bottom: 25px;
  width: 70%;
  margin: auto;
}

h2 {
  overflow: hidden;
  text-align: center;
  font-size: 24px;
  font-family: 'Gowun Batang', serif;
  line-height: 1.1;
  margin-top: 40px;
  text-transform: uppercase;
}

h2:before, h2:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 30%;
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}

.amenities-subheader-container {
  width: 60%;
  margin: auto;
}

.amenities-subheader {
  text-align: center;
  justify-content: center;
  font-family: 'Cardo', serif;
}

.amenities-subheader a {
  color: #000;
}

.amenities-subheader a:hover {
  color: #00bcd4;
}

.amenities-image {
  width: 150px;
  height: 150px;
  margin: 30px 10px;
}

.amenities-image p {
  font-family: 'Cardo', serif;
  font-size: 17px;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}



