 <div class="experiences-section">

<app-shared-headers>
  Experiences
</app-shared-headers>
   <div class="experiences-container">
     <div class="experiences-display">
       <mat-card class="beach-party">
         <mat-card-header>
           <h2>Beach Parties</h2>
         </mat-card-header>
         <mat-card-actions>
           <button mat-raised-button color="primary">
             Learn More
           </button>
         </mat-card-actions>
       </mat-card>
     </div>
     <div class="experiences-display">
       <mat-card class="jetskis">
         <mat-card-header>
           <h2>Jetskis</h2>
         </mat-card-header>
         <mat-card-actions>
           <button mat-raised-button color="primary">
             Learn More
           </button>
         </mat-card-actions>
       </mat-card>
     </div>
     <div class="experiences-display">
       <mat-card class="bars">
         <mat-card-header>
           <h2>Clubs & Bars</h2>
         </mat-card-header>
         <mat-card-actions>
           <button mat-raised-button color="primary">
             Learn More
           </button>
         </mat-card-actions>
       </mat-card>
     </div>
     <div class="experiences-display">
       <mat-card class="golf-courses">
         <mat-card-header>
           <h2>Golf Courses</h2>
         </mat-card-header>
         <mat-card-actions>
           <button mat-raised-button color="primary">
             Learn More
           </button>
         </mat-card-actions>
       </mat-card>
     </div>
     <div class="experiences-display">
       <mat-card class="shopping">
         <mat-card-header>
           <h2>Shopping</h2>
         </mat-card-header>
         <mat-card-actions>
           <button mat-raised-button color="primary">
             Learn More
           </button>
         </mat-card-actions>
       </mat-card>
     </div>
     <div class="experiences-display">
       <mat-card class="scuba-diving">
         <mat-card-header>
           <h2>Scuba Diving</h2>
         </mat-card-header>
         <mat-card-actions>
           <button mat-raised-button color="primary">
             Learn More
           </button>
         </mat-card-actions>
       </mat-card>
     </div>
   </div>
 </div>

