<div class="events-section">
  <app-shared-headers>Events</app-shared-headers>

  <div class="events-container">
    <div class="container">
      <div class="weddings">
        <mat-card class="indoor-wedding">
          <mat-card-header>
            <h2>Indoor Weddings</h2>
          </mat-card-header>
          <mat-card-actions>
            <button mat-raised-button color="primary">
              Book Now
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="weddings">
        <mat-card class="outdoor-wedding">
          <mat-card-header>
            <h2>Outdoor Weddings</h2>
          </mat-card-header>
          <mat-card-actions>
            <button mat-raised-button color="primary">
              Book Now
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div class="container">
      <div class="meetings">
        <mat-card class="meeting">
          <mat-card-header>
            <h2>Conferences</h2>
          </mat-card-header>
          <mat-card-actions>
            <button mat-raised-button color="primary">
              Reserve Now
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
