<div class="offers-section">
  <app-shared-headers>
    Offers
  </app-shared-headers>

  <div class="offers-container">
    <div class="offers-card">
      <mat-card class="offer">
        <img mat-card-image class="card-image"
          src="https://images.pexels.com/photos/6127330/pexels-photo-6127330.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          alt="Romantic Dinner Package">
        <mat-card-content>
          <h4 class="card-header">Romantic Dinner Package</h4>
          <p class="card-content">Malesuada fames ac turpis egestas sed tempus urna et pharetra pharetra massa massa ultricies mi quis
            hendrerit dolor magna eget est lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque
            habitant
            morbi
            tristique senectus et
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="offer-button" mat-raised-button color="primary">
            View Offer
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="offers-card">
      <mat-card class="offer">
        <img mat-card-image class="card-image"
          src="https://images.pexels.com/photos/790916/pexels-photo-790916.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          alt="Christmas Package">
        <mat-card-content>
          <h4 class="card-header">Christmas Package</h4>
          <p class="card-content">Malesuada fames ac turpis egestas sed tempus urna et pharetra pharetra massa massa
            ultricies mi quis
            hendrerit dolor magna eget est lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque
            habitant
            morbi
            tristique senectus et
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="offer-button" mat-raised-button color="primary">
            View Offer
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
