<section class="gallery-section">
  <app-shared-headers>Photo Gallery</app-shared-headers>
  <div class="gallery-container">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="gallery-card-container">
          <img src="/assets/images/hotel-image5.jpg" class="gallery-card">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="gallery-card-container">
          <img src="/assets/images/hotel-image3.jpg" class="gallery-card">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="gallery-card-container">
          <img src="/assets/images/hotel-image12.jpg" class="gallery-card">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="gallery-card-container">
          <img src="/assets/images/hotel-image2.jpg" class="gallery-card">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="gallery-card-container">
          <img src="/assets/images/hotel-image6.jpg" class="gallery-card">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="gallery-card-container">
          <img src="/assets/images/hotel-image19.jpg" class="gallery-card">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="gallery-card-container">
          <img src="/assets/images/hotel-image8.jpg" class="gallery-card">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="gallery-card-container">
          <img src="/assets/images/hotel-image4.jpg" class="gallery-card">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="gallery-card-container">
          <img src="/assets/images/hotel-image16.jpg" class="gallery-card">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="gallery-card-container">
          <img src="/assets/images/hotel-image10.jpg" class="gallery-card">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="gallery-card-container">
          <img src="/assets/images/hotel-image11.jpg" class="gallery-card">
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>






<!-- <div class="gallery-container">
  <div class="gallery">
    <mat-card class="gallery-image1">
    </mat-card>
  </div>
  <div class="gallery">
    <mat-card class="gallery-image2">
    </mat-card>
  </div>
  <div class="gallery">
    <mat-card class="gallery-image3">
    </mat-card>
  </div>
</div> -->
<!-- <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>Slide 1</ng-template>
    <ng-template carouselSlide>Slide 2</ng-template>
    <ng-template carouselSlide>Slide 3</ng-template>
    <ng-template carouselSlide>Slide 4</ng-template>
    <ng-template carouselSlide>Slide 5</ng-template>
    <ng-template carouselSlide>Slide 6</ng-template>
  </owl-carousel-o> -->
