@import "~bootstrap/dist/css/bootstrap.css";
/* .gallery-section {
  padding-top: 50px;
}

.gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin-right: 10px;
}

.gallery {
  width: 300px;
  margin: 10px;
}

.gallery mat-card {
  height: 300px;
  position: relative;
  text-align: center;
  max-width: 300px;
}

.gallery-image1 {
  background: url(/assets/images/hotel-image1.jpg) center no-repeat;
  background-size: cover;
  object-fit: cover;
}

.gallery-image2 {
  background: url(/assets/images/hotel-image3.jpg) center no-repeat;
  background-size: cover;
  object-fit: cover;
}

.gallery-image3 {
  background: url(/assets/images/hotel-image5.jpg) center no-repeat;
  background-size: cover;
  object-fit: cover;
} */

.gallery-section {
  /* padding: 50px 0; */
  padding-top: 50px;
  background: #eee;
}



.gallery-card-container {
  margin: 20px 20px 0 20px;
  padding-left: 20px;
}

.gallery-card {
  height: 300px;
  text-align: center;
  max-width: 400px;
  border-radius: 5px;
  background: center no-repeat;
  background-size: cover;
  object-fit: cover;
}




