 <div class="rooms-section">
   <div class="rooms-header">
     <h2>Rooms and Suites</h2>
   </div>
   <div class="rooms-subheader-container">
     <p class="rooms-subheader">Best Rates Guaranteed</p>
   </div>
   <div class="rooms-container">
     <div class="room-display">
       <mat-card class="ocean-view-room">
         <mat-card-header>
           <h2>Ocean Walkout Suites</h2>
         </mat-card-header>
         <mat-card-actions>
           <button mat-raised-button color="primary">
             Explore
           </button>
         </mat-card-actions>
       </mat-card>
     </div>

     <div class="room-display">
       <mat-card class="ocean-villa-room">
         <mat-card-header>
           <h2>Luxury Suites</h2>
         </mat-card-header>
         <mat-card-actions>
           <button mat-raised-button color="primary">
             Explore
           </button>
         </mat-card-actions>
       </mat-card>
     </div>

     <div class="room-display">
       <mat-card class="pool-view-room">
         <mat-card-header>
           <h2>Hideaway Suites</h2>
         </mat-card-header>
         <mat-card-actions>
           <button mat-raised-button color="primary">
             Explore
           </button>
         </mat-card-actions>
       </mat-card>
     </div>
   </div>
 </div>

