<div class="accommodation-section">
  <div class="accommodation-header">
    <h2>Accommodations</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      <a href="">Accesssibility.</a>
    </p>
  </div>
  <div class="booking-form">
    <form>
      <mat-form-field>
        <mat-select [formControl]="locationControl" required>
          <mat-option *ngFor="let location of locations" [value]="location">
            {{location.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="locationControl.hasError('required')">Please choose a location</mat-error>
        <mat-label>
          <mat-icon>search</mat-icon>
          Location
        </mat-label>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose date range</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker" required>
          <input matStartDate formControlName="start" placeholder="Start date">
          <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rooms and Guests</mat-label>
        <mat-select [formControl]="guestControl" required multiple>
          <mat-option *ngFor="let guest of guests" [value]="guest.value">
            {{guest.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="guestControl.hasError('required')">Please choose number of guests</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Discount</mat-label>
        <mat-select>
          <mat-option>
            <mat-radio-button>All Discounts</mat-radio-button>
          </mat-option>
          <mat-option>
            <mat-radio-button>AAA</mat-radio-button>
          </mat-option>
          <mat-option>
            <mat-radio-button>Senior (ages 55+)</mat-radio-button>
          </mat-option>
          <mat-option>
            <mat-radio-button>Military</mat-radio-button>
          </mat-option>
          <mat-option>
            <mat-radio-button>Corporate Code</mat-radio-button>
          </mat-option>
          <mat-option>
            <mat-radio-button>Travel Agent Number</mat-radio-button>
          </mat-option>
          <mat-option>
            <mat-radio-button>Group Code</mat-radio-button>
          </mat-option>
          <mat-option>
            <mat-radio-button>Platinum Guest</mat-radio-button>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="book-button-container">
        <button mat-stroked-button color="primary" class="book-button">
          Book
        </button>
      </div>
    </form>
  </div>
</div>


