<div class="container">
  <div class="book-container">
    <button mat-stroked-button class="book-now-button" color="primary">
      Book Now
    </button>
  </div>
  <div class="content-container">
    <h1 class="title">Experience Life and Luxury</h1>
    <p class="subtitle">
      Royal Cove Hotel &amp; Resort
    </p>
  </div>
  <div class="down-arrow-button">
    <button mat-fab color="primary">
      <mat-icon>keyboard_double_arrow_down</mat-icon>
    </button>
  </div>
  <!-- <div class="location">
    <h3>Florida</h3>
  </div> -->
</div>

<app-about></app-about>
<app-home-rooms></app-home-rooms>
<app-home-offers></app-home-offers>
<app-home-experiences></app-home-experiences>
<app-home-occassions></app-home-occassions>
<app-home-gallery></app-home-gallery>
<app-footer></app-footer>
